.rt-sm {
  padding-top: 3rem;
}

.rb-sm {
  padding-bottom: 3rem;
}

.rt-md {
  padding-top: 4.8rem;
}

.rb-md {
  padding-bottom: 4.8rem;
}

.rt-lg {
  padding-top: 9.6rem;
}

.rb-lg {
  padding-bottom: 9.6rem;
}